.display-flex
  display: flex

.justify-start
  justify-content: flex-start

.justify-end
  justify-content: flex-end

.justify-center
  justify-content: center

.align-center
  align-items: center

.pointer
  cursor: pointer !important
